.cards-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 0;

}

/* .cards-container .middle-column-element {
  grid-row: span 2;
} */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Lora', serif;
}

.css-hyum1k-MuiToolbar-root {
  background-color: RGB(0, 31, 63);
}

.css-i9gxme {
  width: 100%;

}

h1 {
  text-transform: uppercase;
  font-style: italic;
  color: RGB(0, 31, 63);
  border-bottom: 1px solid RGB(0, 31, 63);
  /* letter-spacing: 1px; */
}

/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  border-bottom: 2px solid red;
  border: 2px solid green
} */




/* .css-1aquho2-MuiTabs-indicator {
  background-color: RGB(0, 31, 63);
  border: 2px solid red;
} */