.cards-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Lora', serif;
}

/* .css-i9gxme {
  width: 100%;
} */

h1 {
  text-transform: uppercase;
  font-style: italic;
  color: RGB(0, 31, 63);
  border-bottom: 1px solid RGB(0, 31, 63);
}

.return {
  width: 100vw;
  margin-left: 5%;
  display: none;
}

@media (max-width: 800px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }

  .return {
    display: block;
  }
}